* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    background-image: url('smoke1.jpeg'); 
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
   }
   .app-main {
    width: 70vh;
    margin: 70px auto;
    background-color: #f0f0f0;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    outline: #582233;
   }
   .app-main > .weather-body {
    margin-top: 10px;
   }

   .input-box {
    width: 100%;
    background-color: #c9bbbb;
    border-radius:12px;
    outline: none;
    color: #582233;
    font-size: 1.6rem;
    font-weight: 500;
    height: 50px;
    text-align: center;
   }
   .weather-body{
    display: none;
    color: #1d1b1c;
    padding: 20px 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 107, 107, 0.6);
    height: 50vh;
   }
   .location-details{
    font-weight: bold;
    font-size: 25px;
    
   }
   
   .temp{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.3);
   }
   .min-max {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
   }
   .weather, .humid {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
    
   }
